
{% extends "base.html" %}

{% block title %}
{{ post.author | capfirst }} | {{ post.title }}
{% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% block page_content %}

<div class="header {{post.author}}">
  <div class="blog-author-block">
    <div class="container">
      <a href="{% url 'blog_author' post.author %}">{{ post.author | capfirst }}'s Blog</a>
    </div>
  </div>
    <div class="container">
  <h1 class="blog-title">{{ post.title }}</h1>
</div>
</div>
<div class="col-lg-12 content">
  <div class="container">
    <div class="blog-post-info">
  <small>
    Created {{ post.created_on.date }} at {{ post.created_on.time }} by <b><a href="{% url 'blog_author' post.author %}">{{ post.author | capfirst }}<a/></b> |&nbsp;
    Categories:&nbsp;
    {% for category in post.category.all %}
    <a href="{% url 'blog_author_category' post.author category.name %}">
      {{ category.name }}
    </a>&nbsp;
    {% endfor %}
    {% if post.created_on.date != post.last_modified.date %}
    <br><em>Updated {{ post.last_modified.date }} at {{ post.last_modified.time }}</em">
    {% endif %}
  </small>
  </div>


  <div class="blog-image">
  <picture>
    <img class="d-block w-100 blog-image"
      srcset="{{ post.image.url }} 300w,
            {{ post.image.url }} 600w,
            {{ post.image.url }} 1000w,
            {{ post.image.url }} 2000w"
      sizes="(max-width: 800px) 400px, (max-width: 1170px) 600px, 1000px"
      style="display: block; margin: auto;"
      alt="{{ post.imageAlt }}"
      >
  </picture>
  </div>
<div class="blog-body">
  {{ post.body | safe | linebreaks }}
</div>
  <small>
  </small>

</div>
{% endblock %}
</div>
